USE [ShopOnline]
GO
/****** Object:  UserDefinedTableType [dbo].[List_Items]    Script Date: 12/26/2019 2:32:35 PM ******/
CREATE TYPE [dbo].[List_Items] AS TABLE(
	[MaSeri] [varchar](10) NULL,
	[DonGia] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ListItems]    Script Date: 12/26/2019 2:32:35 PM ******/
CREATE TYPE [dbo].[ListItems] AS TABLE(
	[MaSeri] [varchar](10) NULL,
	[SoLuong] [int] NULL
)
GO
/****** Object:  Table [dbo].[BAOHANH]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOHANH](
	[MaBH] [int] IDENTITY(1,1) NOT NULL,
	[MaSeri] [varchar](50) NOT NULL,
	[NgayTao] [datetime] NULL,
	[NoiDung] [nvarchar](max) NULL,
	[TrangThai] [int] NULL,
	[NgayXuLy] [datetime] NULL,
	[MaNV] [int] NULL,
 CONSTRAINT [PK_BAOHANH] PRIMARY KEY CLUSTERED 
(
	[MaBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BINHLUAN]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BINHLUAN](
	[MaBL] [int] IDENTITY(1,1) NOT NULL,
	[DanhGia] [int] NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[MaSP] [varchar](10) NOT NULL,
	[MaKH] [int] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK_BINHLUAN] PRIMARY KEY CLUSTERED 
(
	[MaBL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDONDATHANG]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONDATHANG](
	[MaDDH] [int] NOT NULL,
	[MaSeri] [varchar](50) NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_CHITIETDONDATHANG_1] PRIMARY KEY CLUSTERED 
(
	[MaDDH] ASC,
	[MaSeri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETKHUYENMAI]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETKHUYENMAI](
	[MaKM] [int] NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[GiamGia] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETKHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MaDDH] [int] IDENTITY(1,1) NOT NULL,
	[NgayDat] [datetime] NOT NULL,
	[NgayXuLy] [datetime] NULL,
	[TrangThai] [int] NOT NULL,
	[MaKH] [int] NULL,
	[MaNV] [int] NULL,
	[TinhTrang] [int] NOT NULL,
	[DiaChiNhan] [nvarchar](max) NOT NULL,
	[TenNguoiNhan] [nvarchar](50) NOT NULL,
	[SoDT] [varchar](12) NOT NULL,
	[Email] [varchar](100) NOT NULL,
 CONSTRAINT [PK_DONDATHANG] PRIMARY KEY CLUSTERED 
(
	[MaDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaDDH] [int] NOT NULL,
	[MaThue] [varchar](20) NOT NULL,
	[TongTien] [decimal](18, 0) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_HOADON] UNIQUE NONCLUSTERED 
(
	[MaDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MaKM] [int] IDENTITY(1,1) NOT NULL,
	[NgayBD] [datetime] NOT NULL,
	[NgayKT] [datetime] NOT NULL,
	[MaNV] [int] NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIND]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIND](
	[MaLoai] [varchar](5) NOT NULL,
	[TenLoai] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_LoaiND] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MaLoaiSP] [varchar](10) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
	[Icon] [nvarchar](100) NULL,
 CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MaND] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [varchar](50) NOT NULL,
	[MatKhau] [varchar](30) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NULL,
	[CMND] [nchar](12) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Email] [varchar](50) NULL,
	[SoDT] [varchar](12) NULL,
	[TrangThai] [bit] NOT NULL,
	[LoaiND] [varchar](5) NOT NULL,
 CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_NGUOIDUNG] UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MaNCC] [varchar](10) NOT NULL,
	[TenNCC] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](max) NULL,
	[Email] [varchar](50) NULL,
	[SoDT] [varchar](12) NULL,
	[Fax] [varchar](50) NULL,
	[TrangThaiXoa] [bit] NULL,
 CONSTRAINT [PK_NHACUNGCAP_1] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHASANXUAT]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHASANXUAT](
	[MaNSX] [varchar](10) NOT NULL,
	[TenNSX] [nvarchar](100) NOT NULL,
	[ThongTin] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[TrangThaiXoa] [bit] NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MaNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[MaNCC] [varchar](10) NOT NULL,
	[MaNV] [int] NOT NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSeri] [varchar](50) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[MaPN] [int] NOT NULL,
	[GiaNhap] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_SANPHAMNHAP] PRIMARY KEY CLUSTERED 
(
	[MaSeri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM_LOAI]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM_LOAI](
	[MaSP] [varchar](10) NOT NULL,
	[TenSP] [varchar](50) NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[HinhAnh] [varchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[LuotXem] [int] NOT NULL,
	[LuotBC] [float] NULL,
	[SoLanMua] [int] NULL,
	[MaNCC] [varchar](10) NOT NULL,
	[MaNSX] [varchar](10) NOT NULL,
	[MaLoaiSP] [varchar](10) NOT NULL,
	[ThoiGianBH] [int] NULL,
	[TrangThai] [int] NOT NULL,
	[SPMoi] [bit] NOT NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRALOIBL]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRALOIBL](
	[MaTL] [int] IDENTITY(1,1) NOT NULL,
	[MaBL] [int] NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[MaNV] [int] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK_TRALOIBL] PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DONDATHANG] ADD  CONSTRAINT [DF_DONDATHANG_TrangThai]  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[DONDATHANG] ADD  CONSTRAINT [DF_DONDATHANG_TinhTrang]  DEFAULT ((0)) FOR [TinhTrang]
GO
ALTER TABLE [dbo].[KHUYENMAI] ADD  CONSTRAINT [DF_KHUYENMAI_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NGUOIDUNG] ADD  CONSTRAINT [DF_NGUOIDUNG_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NHACUNGCAP] ADD  CONSTRAINT [DF_NHACUNGCAP_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[NHASANXUAT] ADD  CONSTRAINT [DF_NHASANXUAT_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[PHIEUNHAP] ADD  CONSTRAINT [DF_PHIEUNHAP_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [DF_SANPHAMNHAP_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[SANPHAM_LOAI] ADD  CONSTRAINT [DF_SANPHAM_LOAI_LuotXem]  DEFAULT ((0)) FOR [LuotXem]
GO
ALTER TABLE [dbo].[SANPHAM_LOAI] ADD  CONSTRAINT [DF_SANPHAM_LOAI_LuotBC]  DEFAULT ((0)) FOR [LuotBC]
GO
ALTER TABLE [dbo].[SANPHAM_LOAI] ADD  CONSTRAINT [DF_SANPHAM_LOAI_SoLanMua]  DEFAULT ((0)) FOR [SoLanMua]
GO
ALTER TABLE [dbo].[SANPHAM_LOAI] ADD  CONSTRAINT [DF_SANPHAM_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[SANPHAM_LOAI] ADD  CONSTRAINT [DF_SANPHAM_LOAI_SPMoi]  DEFAULT ((1)) FOR [SPMoi]
GO
ALTER TABLE [dbo].[BAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_BAOHANH_NGUOIDUNG] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NGUOIDUNG] ([MaND])
GO
ALTER TABLE [dbo].[BAOHANH] CHECK CONSTRAINT [FK_BAOHANH_NGUOIDUNG]
GO
ALTER TABLE [dbo].[BAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_BAOHANH_SANPHAM] FOREIGN KEY([MaSeri])
REFERENCES [dbo].[SANPHAM] ([MaSeri])
GO
ALTER TABLE [dbo].[BAOHANH] CHECK CONSTRAINT [FK_BAOHANH_SANPHAM]
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUAN_NGUOIDUNG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[NGUOIDUNG] ([MaND])
GO
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK_BINHLUAN_NGUOIDUNG]
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUAN_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM_LOAI] ([MaSP])
GO
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK_BINHLUAN_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETDONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONDATHANG_DONDATHANG] FOREIGN KEY([MaDDH])
REFERENCES [dbo].[DONDATHANG] ([MaDDH])
GO
ALTER TABLE [dbo].[CHITIETDONDATHANG] CHECK CONSTRAINT [FK_CHITIETDONDATHANG_DONDATHANG]
GO
ALTER TABLE [dbo].[CHITIETDONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONDATHANG_SANPHAM] FOREIGN KEY([MaSeri])
REFERENCES [dbo].[SANPHAM] ([MaSeri])
GO
ALTER TABLE [dbo].[CHITIETDONDATHANG] CHECK CONSTRAINT [FK_CHITIETDONDATHANG_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETKHUYENMAI_KHUYENMAI1] FOREIGN KEY([MaKM])
REFERENCES [dbo].[KHUYENMAI] ([MaKM])
GO
ALTER TABLE [dbo].[CHITIETKHUYENMAI] CHECK CONSTRAINT [FK_CHITIETKHUYENMAI_KHUYENMAI1]
GO
ALTER TABLE [dbo].[CHITIETKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETKHUYENMAI_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM_LOAI] ([MaSP])
GO
ALTER TABLE [dbo].[CHITIETKHUYENMAI] CHECK CONSTRAINT [FK_CHITIETKHUYENMAI_SANPHAM]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_NGUOIDUNG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[NGUOIDUNG] ([MaND])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_NGUOIDUNG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_DONDATHANG] FOREIGN KEY([MaDDH])
REFERENCES [dbo].[DONDATHANG] ([MaDDH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_DONDATHANG]
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_KHUYENMAI_NGUOIDUNG] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NGUOIDUNG] ([MaND])
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [FK_KHUYENMAI_NGUOIDUNG]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_LOAIND] FOREIGN KEY([LoaiND])
REFERENCES [dbo].[LOAIND] ([MaLoai])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_LOAIND]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NGUOIDUNG] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NGUOIDUNG] ([MaND])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NGUOIDUNG]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_PHIEUNHAP] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PHIEUNHAP] ([MaPN])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_PHIEUNHAP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_SANPHAM_LOAI] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM_LOAI] ([MaSP])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_SANPHAM_LOAI]
GO
ALTER TABLE [dbo].[SANPHAM_LOAI]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAI_LOAISANPHAM] FOREIGN KEY([MaLoaiSP])
REFERENCES [dbo].[LOAISANPHAM] ([MaLoaiSP])
GO
ALTER TABLE [dbo].[SANPHAM_LOAI] CHECK CONSTRAINT [FK_SANPHAM_LOAI_LOAISANPHAM]
GO
ALTER TABLE [dbo].[SANPHAM_LOAI]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAI_NHACUNGCAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[SANPHAM_LOAI] CHECK CONSTRAINT [FK_SANPHAM_LOAI_NHACUNGCAP]
GO
ALTER TABLE [dbo].[SANPHAM_LOAI]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAI_NHASANXUAT] FOREIGN KEY([MaNSX])
REFERENCES [dbo].[NHASANXUAT] ([MaNSX])
GO
ALTER TABLE [dbo].[SANPHAM_LOAI] CHECK CONSTRAINT [FK_SANPHAM_LOAI_NHASANXUAT]
GO
ALTER TABLE [dbo].[TRALOIBL]  WITH CHECK ADD  CONSTRAINT [FK_TRALOIBL_BINHLUAN] FOREIGN KEY([MaBL])
REFERENCES [dbo].[BINHLUAN] ([MaBL])
GO
ALTER TABLE [dbo].[TRALOIBL] CHECK CONSTRAINT [FK_TRALOIBL_BINHLUAN]
GO
ALTER TABLE [dbo].[TRALOIBL]  WITH CHECK ADD  CONSTRAINT [FK_TRALOIBL_NGUOIDUNG] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NGUOIDUNG] ([MaND])
GO
ALTER TABLE [dbo].[TRALOIBL] CHECK CONSTRAINT [FK_TRALOIBL_NGUOIDUNG]
GO
ALTER TABLE [dbo].[SANPHAM_LOAI]  WITH CHECK ADD  CONSTRAINT [CK_LuotBC] CHECK  (([luotBC]>=(0) AND [luotBC]<=(5)))
GO
ALTER TABLE [dbo].[SANPHAM_LOAI] CHECK CONSTRAINT [CK_LuotBC]
GO
/****** Object:  StoredProcedure [dbo].[BAOHANH_INSERT]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[BAOHANH_INSERT]
@NoiDung  nvarchar(50),
@MaSeri varchar(50),
@NgayTao datetime
AS
BEGIN
	SET NOCOUNT ON
	IF NOT EXISTS (SELECT 1 from CHITIETDONDATHANG WHERE MaSeri = @MaSeri)
		RETURN 0 --KHONG TON TAI MA SERI NAY
	ELSE
		BEGIN
			IF EXISTS (SELECT 1 from BAOHANH WHERE MaSeri = @MaSeri AND TrangThai = -1 )
				RETURN -1 --DANG CHO CHECK BAO HANH

			INSERT INTO DBO.BAOHANH( NoiDung , MaSeri , NgayTao , TrangThai)
			VALUES ( @NoiDung  ,@MaSeri , @NgayTao , -1);
			RETURN 1
		END
END
GO
/****** Object:  StoredProcedure [dbo].[BAOHANH_UPDATE]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[BAOHANH_UPDATE]
@MaBH int,
@MaNV  int,
@MaSeri  varchar(50),
@NoiDung  nvarchar(max),
@NgayTao datetime,
@NgayXuLy datetime,
@TrangThai int

AS
BEGIN
	SET NOCOUNT ON
	UPDATE dbo.BAOHANH
    SET
		MaNV = @MaNV,
		MaSeri = @MaSeri,
		NoiDung = @NoiDung,
		NgayTao = @NgayTao,
		NgayXuLy= @NgayXuLy,
		TrangThai = @TrangThai

    WHERE MaBH = @MaBH
END
GO
/****** Object:  StoredProcedure [dbo].[BINHLUAN_INSERT]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[BINHLUAN_INSERT]
@DanhGia  int,
@NoiDung  nvarchar(50),
@MaSP varchar(10),
@MaKH int,
@NgayTao dateTime

AS
BEGIN
	SET NOCOUNT ON
	IF NOT EXISTS (SELECT 1 from dbo.SANPHAM_LOAI WHERE MaSP = @MaSP)
		RETURN 0
	ELSE IF NOT EXISTS (SELECT 1 from dbo.NGUOIDUNG WHERE MaND = @MaKH)
		RETURN 1
	ELSE
		BEGIN
			INSERT INTO DBO.BINHLUAN (DanhGia, NoiDung , MaSP , MaKH, NgayTao)
			VALUES (@DanhGia, @NoiDung  ,@MaSP , @MaKH , @NgayTao);
		END
END
GO
/****** Object:  StoredProcedure [dbo].[BINHLUAN_UPDATE]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[BINHLUAN_UPDATE]
@MaBL int,
@DanhGia  int,
@NoiDung  nvarchar(50),
@MaSP varchar(10),
@MaKH int,
@NgayTao date
AS
BEGIN
	SET NOCOUNT ON
	UPDATE dbo.BINHLUAN
    SET
		DanhGia = @DanhGia,
		NoiDung = @NoiDung,
		NgayTao = @NgayTao

    WHERE MaBL = @MaBL
END
GO
/****** Object:  StoredProcedure [dbo].[CTDONDATHANG_INSERT]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[CTDONDATHANG_INSERT]
@MaDDH varchar(10),
@MaSeri varchar(10),
@DonGia int
AS
BEGIN
	SET NOCOUNT ON
	INSERT INTO DBO.CHITIETDONDATHANG (MADDH, MaSeri, DonGia)
	VALUES (@MaDDH, @MaSeri, @DonGia);
END
GO
/****** Object:  StoredProcedure [dbo].[CTKHUYENMAI_INSERT]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[CTKHUYENMAI_INSERT]
@MaKM int,
@MaSP varchar(10),
@GiamGia int

AS
BEGIN
	SET NOCOUNT ON
	INSERT INTO DBO.CHITIETKHUYENMAI (MaKM, MaSP, GiamGia)
	VALUES (@MaKM, @MaSP, @GiamGia);
END
GO
/****** Object:  StoredProcedure [dbo].[CTPHIEUNHAP_INSERT]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[CTPHIEUNHAP_INSERT]
@MaPN varchar(10),
@MaSeri varchar(10),
@DonGia int
AS
BEGIN
	SET NOCOUNT ON
	INSERT INTO DBO.CHITIETPHIEUNHAP(MaPN, MaSeri, DonGia)
	VALUES (@MaPN, @MaSeri, @DonGia);
END
GO
/****** Object:  StoredProcedure [dbo].[DELETE_DISCOUNT]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[DELETE_DISCOUNT]
	-- Add the parameters for the stored procedure here
	@ID  nvarchar(50),
	@NGAY dateTime
AS
BEGIN
	IF NOT EXISTS (SELECT 1 FROM KHUYENMAI WHERE MaKM = @ID AND TrangThai = 1)
		RETURN -1
	DECLARE @trangThaiKM int
	SET @trangThaiKM = (SELECT TrangThai  FROM KHUYENMAI KMCT WHERE KMCT.MaKM = @ID AND @NGAY BETWEEN KMCT.NgayBD AND KMCT.NgayKT  )
	IF( @trangThaiKM = 1)
		RETURN 0
	ELSE 
		BEGIN
			UPDATE dbo.KHUYENMAI
			SET TrangThai = 0 WHERE MaKM= @ID
			RETURN 1
		END
			
	END
GO
/****** Object:  StoredProcedure [dbo].[NGUOIDUNG_INSERT]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[NGUOIDUNG_INSERT]
@TaiKhoan  nvarchar(50),
@MatKhau varchar(30),
@CMND	varchar(12),
@HoTen nvarchar(50),
@NgaySinh date,
@Email varchar(50),
@SoDT varchar(12),
@DiaChi  nvarchar(100),
@LoaiND  varchar(5)
AS
BEGIN
	SET NOCOUNT ON
	INSERT INTO dbo.NGUOIDUNG( TaiKhoan  ,MatKhau ,HoTen, Email,SoDT ,DiaChi , CMND, NgaySinh, LoaiND)
    VALUES ( @TaiKhoan, @MatKhau, @HoTen, @Email, @SoDT, @DiaChi , @CMND,@NgaySinh, @LoaiND)  
END
GO
/****** Object:  StoredProcedure [dbo].[NGUOIDUNG_UPDATE]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[NGUOIDUNG_UPDATE]
@MaND  int,
@TaiKhoan  nvarchar(50),
@MatKhau varchar(30),
@CMND	varchar(12),
@HoTen nvarchar(50),
@NgaySinh date,
@Email varchar(50),
@SoDT varchar(12),
@DiaChi  nvarchar(100),
@TrangThai bit 
AS
BEGIN
	SET NOCOUNT ON
	UPDATE dbo.NGUOIDUNG
    SET
		TaiKhoan = @TaiKhoan ,
		MatKhau = @MatKhau,
		CMND = @CMND,
		HoTen= @HoTen, 
		Email= @Email,
		NgaySinh= @NgaySinh ,
		SoDT = @SoDT,
		DiaChi= @DiaChi,
		TrangThai = @TrangThai

    WHERE  MaND = @MaND
END
GO
/****** Object:  StoredProcedure [dbo].[SANPHAM_INSERT]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[SANPHAM_INSERT]
@Seri varchar(10),
@MaSP varchar(10)
AS
BEGIN
	DECLARE @TrangThai bit
	SET @TrangThai= 1
	INSERT INTO DBO.SANPHAM(MaSeri, MaSP, TrangThai)
	VALUES (
		@Seri, @MaSP, @TrangThai
	);
END
GO
/****** Object:  StoredProcedure [dbo].[SANPHAM_UPDATE]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[SANPHAM_UPDATE]
@Seri varchar(10),
@MaSP varchar(10),
@TrangThai bit

AS
BEGIN
	SET NOCOUNT ON
	UPDATE dbo.SANPHAM
    SET
		MaSP = @MaSP,
		TrangThai= @TrangThai

    WHERE MaSeri= @Seri
END
GO
/****** Object:  StoredProcedure [dbo].[SANPHAMLOAI_INSERT]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[SANPHAMLOAI_INSERT]
	@MaSP varchar(10),
	@TenSP varchar(50), 
	@DonGia int, 
	@SoLuongTon int,
	@HinhAnh varchar(255),
    @MoTa nvarchar(MAX), 
    @MaNCC varchar(10), 
    @MaNSX varchar(10), 
    @MaLoaiSP varchar(10),
	@TrangThai int,
	@SPMoi bit,
	@ThoiGianBH int


AS
BEGIN
	SET NOCOUNT ON
	INSERT INTO DBO.SANPHAM_LOAI (MaSP , TenSP , DonGia, SoLuongTon , HinhAnh, MoTa, MaNCC, MaNSX, MaLoaiSP, TrangThai, SPMoi, ThoiGianBH)
	VALUES (
		@MaSP  ,@TenSP , @DonGia , @SoLuongTon, @HinhAnh  , @MoTa ,@MaNCC, @MaNSX, @MaLoaiSP, @TrangThai, @SPMoi, @ThoiGianBH
	);
END
GO
/****** Object:  StoredProcedure [dbo].[SANPHAMLOAI_UPDATE]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[SANPHAMLOAI_UPDATE]
	@MaSP varchar(10),
	@TenSP varchar(50), 
	@DonGia int, 
	@SoLuongTon int,
	@HinhAnh varchar(255),
    @MoTa nvarchar(MAX), 
 
    @MaNCC varchar(10), 
    @MaNSX varchar(10), 
    @MaLoaiSP varchar(10),

	@TrangThai int,
	@SPMoi bit,

	@SoLanMua int,
	@LuotBC int,
	@LuotXem int,
	@ThoiGianBH int
AS
BEGIN
	SET NOCOUNT ON
	UPDATE dbo.SANPHAM_LOAI
    SET
		TenSP = @TenSP ,
		DonGia = @DonGia,
		SoLuongTon= @SoLuongTon, 
--		HinhAnh= @HinhAnh,
		MoTa= @MoTa,
		MaNCC= @MaNCC,
		MaNSX= @MaNSX,
		MaLoaiSP= @MaLoaiSP,
		TrangThai= @TrangThai,
		SPMoi= @SPMoi,
		ThoiGianBH=@ThoiGianBH,

		SoLanMua = @SoLanMua,
		LuotBC= @LuotBC,
		LuotXem= @LuotXem

    WHERE MaSP = @MaSP  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CAPNHATTRANGTHAIDDH]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[SP_CAPNHATTRANGTHAIDDH]
	@ID int,
	@MaNV int,
	@TrangThai int,
	@NgayXuLy datetime
	
AS
BEGIN
	SET NOCOUNT ON
	DECLARE @TinhTrang INT
	IF @TrangThai = -1
		SET @TinhTrang = (SELECT TinhTrang FROM DONDATHANG WHERE MaDDH=CONVERT(int, @ID))
		IF @TinhTrang = 1
			SET @TinhTrang = -1
	ELSE IF @TrangThai = 1
		SET @TinhTrang = 1
	ELSE
		SET @TinhTrang = (SELECT TinhTrang FROM DONDATHANG WHERE MaDDH=CONVERT(int, @ID))
	UPDATE dbo.DONDATHANG
    SET
		MaNV=@MaNV,
		TrangThai=@TrangThai, 
		TinhTrang=@TinhTrang,
		NgayXuLy = @NgayXuLy

    WHERE MaDDH = @ID 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGKY]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DANGKY]
@TaiKhoan nvarchar(50),
@MatKhau varchar(50),
@CMND	varchar(12),
@HoTen nvarchar(50),
@NgaySinh date,
@Email varchar(50),
@SoDT varchar(11),
@DiaChi  nvarchar(100),
@LoaiND varchar(5)
AS
IF EXISTS (SELECT 1 from dbo.NGUOIDUNG WHERE TaiKhoan = @TaiKhoan)
	RETURN 1
ELSE IF NOT EXISTS (SELECT 1 from dbo.LOAIND WHERE MaLoai = @LoaiND)
	RETURN 2
ELSE 
	BEGIN
		INSERT INTO dbo.NGUOIDUNG( TaiKhoan  ,MatKhau ,HoTen, Email,SoDT ,DiaChi , CMND, NgaySinh, LoaiND)
		VALUES ( @TaiKhoan, @MatKhau, @HoTen, @Email, @SoDT, @DiaChi , @CMND, @NgaySinh, @LoaiND) 
		RETURN 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DANGNHAP]
@TaiKhoan nvarchar(50),
@MatKhau varchar(50)

AS
SELECT * from dbo.NGUOIDUNG WHERE TaiKhoan = @TaiKhoan AND MatKhau = @MatKhau and TrangThai=1
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[SP_DELETE]
@TABLE nvarchar(50),
@ID  nvarchar(50)
AS
BEGIN
	IF @TABLE = 'BINHLUAN'
	BEGIN
	IF EXISTS (SELECT 1 FROM dbo.TRALOIBL WHERE dbo.TRALOIBL.MaBL=CONVERT(int, @ID))
			RETURN -1
	ELSE DELETE FROM BINHLUAN WHERE MaBL = @ID
	END

		
	IF @TABLE = 'NGUOIDUNG'
	BEGIN
		IF NOT EXISTS (SELECT TrangThai FROM dbo.NGUOIDUNG WHERE dbo.NGUOIDUNG.MaND=CONVERT(int, @ID))
			RETURN -1
		ELSE IF EXISTS( SELECT TrangThai FROM dbo.NGUOIDUNG WHERE dbo.NGUOIDUNG.MaND=CONVERT(int, @ID) AND DBO.NGUOIDUNG.TrangThai=1)
			BEGIN 
				IF EXISTS(  SELECT * FROM dbo.DONDATHANG, dbo.PHIEUNHAP
								WHERE dbo.DONDATHANG.MANV =  CONVERT(int, @ID) OR  dbo.PHIEUNHAP.MANV =  CONVERT(int, @ID) )	
					BEGIN
						UPDATE dbo.NGUOIDUNG SET TrangThai=0 WHERE MAND= CONVERT(int, @ID) 
						RETURN 0
					END
				ELSE 
					BEGIN
						DELETE FROM NGUOIDUNG WHERE MaND= CONVERT(int, @ID) ;
						RETURN 1 
					END
			END
		ELSE IF EXISTS( SELECT TrangThai FROM dbo.NGUOIDUNG WHERE dbo.NGUOIDUNG.MaND=CONVERT(int, @ID) AND DBO.NGUOIDUNG.TrangThai=0)
			RETURN 2
	END
	IF @TABLE = 'SANPHAMLOAI'
	BEGIN
		IF NOT EXISTS (SELECT TrangThai FROM dbo.SANPHAM_LOAI WHERE dbo.SANPHAM_LOAI.MaSP=@ID)
			RETURN -1 -- san pham khong ton tai
		ELSE IF ( SELECT TrangThai FROM dbo.SANPHAM_LOAI WHERE dbo.SANPHAM_LOAI.MaSP= @ID )=0
			RETURN 2 --san pham bi xóa roi
		ELSE
			BEGIN 
				IF (  SELECT SoLuongTon FROM dbo.SANPHAM_LOAI WHERE dbo.SANPHAM_LOAI.MaSP =  @ID) !=0	--cho xóa
					RETURN 0
				ELSE  
				BEGIN 
						UPDATE dbo.SANPHAM_LOAI
						SET TrangThai= 0, SPMoi = 0  WHERE MaSP = @ID
						RETURN 1
				END --khong cho xóa vì còn hàng trong kho
			END
		
	END
	
		-- XOA DON DAT HANG
		-- ĐON DAT PHAI ĐC HUY HOAC DA GIAO TRC KHI BI XOA
	IF @TABLE = 'DONDATHANG'
		BEGIN
			IF NOT EXISTS (SELECT TrangThai FROM DONDATHANG WHERE MaDDH=CONVERT(int, @ID) AND TrangThai != -2)
				RETURN -1 --KHONG TIM THAY DON DAT
			DECLARE @TrangThai INT
			SET @TrangThai = (SELECT TrangThai FROM DONDATHANG WHERE MaDDH=CONVERT(int, @ID) AND TrangThai != -2);
			IF (@TrangThai = -1 OR @TrangThai = 1)
				BEGIN
					DECLARE @TinhTrang INT
					SET @TinhTrang= (SELECT TinhTrang FROM DONDATHANG WHERE MaDDH=@ID)
					IF(@TinhTrang = 1) 
						SET @TinhTrang=-1
					ELSE 
						SET @TinhTrang =0
					UPDATE dbo.DONDATHANG
					SET 
					TrangThai= -2,
					TinhTrang = @TinhTrang
					WHERE MaDDH = @ID
				END
			ELSE RETURN -2 --PHAI HUY DON HANG TRC KHI XOA
		END
	IF @TABLE = 'PHIEUNHAP'
		BEGIN
		IF NOT EXISTS (SELECT TrangThai FROM PHIEUNHAP WHERE MaPN=CONVERT(int, @ID) AND TrangThai != 0)
				RETURN -1 --KHONG TIM THAY PHIEU NHAP
			UPDATE dbo.PHIEUNHAP
			SET TrangThai = 0 WHERE MaPN= @ID
				RETURN 0
		END
	IF @TABLE = 'SANPHAM'
		BEGIN
			UPDATE dbo.SANPHAM
			SET TrangThai = 0 WHERE MaSeri= @ID
		END
	IF @TABLE = 'TRALOIBL'
		BEGIN
			DELETE FROM dbo.TRALOIBL WHERE MaTL=CONVERT(int, @ID)
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETALL]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[SP_GETALL]
@KEYWORD NVARCHAR(50),
@TABLE NVARCHAR(50)
AS
BEGIN
SET NOCOUNT  ON
IF @TABLE = 'LOAINGUOIDUNG'
BEGIN
	SELECT * FROM LOAIND
	RETURN 1
END
IF @TABLE = 'LOAISANPHAM'
BEGIN
	SELECT * FROM LOAISANPHAM
	RETURN 1
END

IF @KEYWORD != 'NULL'
	BEGIN
		IF @TABLE = 'BINHLUAN'
		--BINH LUAN TIM KIEM THEO TU KHOA LA MA SAN PHAM
		BEGIN
			SELECT * FROM BINHLUAN BL WHERE (BL.MaSP like '%' + @KEYWORD +'%')	
				ORDER BY BL.DanhGia ASC 
		END
		IF @TABLE = 'DONDATHANG' 
		BEGIN
		--DON DAT HANG TIM KIEM THEO TU KHOA LA EMAIL NG DAT HANG.
			SELECT DDH.MaDDH, NgayDat, TrangThai, MaKH, MaNV, TinhTrang, DiaChiNhan, TenNguoiNhan, NgayXuLy , SoDT, Email,SUM(CT.DonGia) AS TongTien
				FROM DONDATHANG DDH  FULL JOIN CHITIETDONDATHANG CT 
				ON DDH.MaDDH = CT.MaDDH
				WHERE TrangThai= CAST(@KEYWORD as int) 
				GROUP BY 
				DDH.MaDDH, DDH.NgayDat, DDH.TrangThai, DDH.MaKH, DDH.MaNV, DDH.TinhTrang, DDH.TinhTrang,NgayXuLy, DDH.DiaChiNhan,DDH.TenNguoiNhan, DDH.SoDT,DDH.Email
			ORDER BY DDH.MaDDH DESC 
			END
		IF @TABLE = 'SANPHAMLOAI'
		BEGIN
		--DS SAN PHAM HET HANG KEYWORD = -1
		IF(@KEYWORD='-1')
		BEGIN
		SELECT * FROM [SANPHAM_LOAI] SP WHERE SoLuongTon= 0 AND TrangThai!=0
			Order BY SP.MaLoaiSP  ASC
		END
		--DS SAN PHAM LUOT MUA NHIEU KEY = -2
		ELSE IF(@KEYWORD='-2')
		BEGIN
		SELECT * FROM [SANPHAM_LOAI] SP WHERE TrangThai=1 AND TrangThai!=0
			Order BY SP.SoLanMua  DESC
		END
		--DS SAN PHAM LUOT BINH CHON CAO KEY =-3
		ELSE IF(@KEYWORD='-3') 
		BEGIN
		SELECT * FROM [SANPHAM_LOAI] SP WHERE TrangThai=1 AND TrangThai!=0
			Order BY SP.LuotBC  DESC
		END
		ELSE
		BEGIN
		
		--KEYWORD =1_HIỆN , 0_XOA, 2_AN , 3_
			SELECT * FROM [SANPHAM_LOAI] SP WHERE TrangThai= CAST(@KEYWORD as int)
			Order BY SP.MaLoaiSP  ASC 
		END

		
		END
		IF @TABLE='PHIEUNHAP'
		BEGIN
		--TIM KIEM THEO NHA CUNG CAP HOAC NHAN VIEN
			SELECT * FROM PHIEUNHAP PN WHERE (PN.MaNCC like '%' + @KEYWORD +'%' or PN.MaNV like '%' + @KEYWORD +'%')
			ORDER BY PN.NgayTao DESC 
			
		END
	END
	--TIM KIEM KHONG CO TU KHOA
ELSE
	BEGIN
		IF @TABLE = 'BINHLUAN'
		BEGIN
			SELECT * FROM BINHLUAN BL
			Order BY BL.DanhGia  DESC 
		END
		IF @TABLE = 'DONDATHANG' 
		BEGIN
			SELECT DDH.MaDDH, NgayDat, TrangThai, MaKH, MaNV, TinhTrang, DiaChiNhan, TenNguoiNhan, SoDT, Email,SUM(CT.DonGia) AS TongTien
				FROM DONDATHANG DDH  FULL JOIN CHITIETDONDATHANG CT 
				ON DDH.MaDDH = CT.MaDDH
				GROUP BY 
				DDH.MaDDH, DDH.NgayDat, DDH.TrangThai, DDH.MaKH, DDH.MaNV, DDH.TinhTrang, DDH.TinhTrang, DDH.DiaChiNhan,DDH.TenNguoiNhan, DDH.SoDT,DDH.Email
				ORDER BY DDH.MaDDH DESC 
		END
		IF @TABLE = 'SANPHAMLOAI'
		BEGIN
			SELECT  * FROM [SANPHAM_LOAI] SP
			WHERE TrangThai != 0 
			ORDER BY SP.MaSP ASC 
		END
		IF @TABLE ='PHIEUNHAP'
		BEGIN
			SELECT PN.MaPN, NgayTao, PN.TrangThai, (SELECT TenNCC FROM NHACUNGCAP  NCC WHERE NCC.MaNCC = PN.MaNCC ) as MaNCC, MaNV, SUM(SP.GiaNhap) AS TongTien
				FROM PHIEUNHAP PN  FULL JOIN SANPHAM SP 
				ON PN.MaPN = SP.MaPN
				WHERE PN.TrangThai =1
				GROUP BY 
				PN.MaPN, PN.NgayTao, PN.TrangThai, PN.MaNCC, PN.MaNV
				ORDER BY PN.MaPN DESC 
		END
		IF @TABLE ='LOAISANPHAM'
		BEGIN
			SELECT * FROM  LOAISANPHAM 
		END
		IF @TABLE ='NHACUNGCAP'
		BEGIN
			SELECT * FROM  NHACUNGCAP WHERE TrangThaiXoa = 0
		END
		IF @TABLE ='NHASANXUAT'
		BEGIN
			SELECT * FROM  NHASANXUAT 
		END
	END
	
END


GO
/****** Object:  StoredProcedure [dbo].[SP_GETDETAILBYID]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_GETDETAILBYID]
@ID NVARCHAR(50),
@TABLE NVARCHAR(20)
AS
BEGIN
SET NOCOUNT  ON
	IF @TABLE ='SANPHAMLOAI'
		SELECT * FROM [SANPHAM_LOAI] SP WHERE SP.MaSP = @ID
	IF @TABLE ='NGUOIDUNG'
		SELECT * FROM NGUOIDUNG ND WHERE ND.TaiKhoan = @ID AND TrangThai= 1
	IF @TABLE ='DONDATHANG'
		SELECT * FROM DONDATHANG DDH WHERE DDH.MaDDH = @ID
	IF @TABLE ='PHIEUNHAP'
		SELECT * FROM PHIEUNHAP PN WHERE PN.MaPN = @ID
	IF @TABLE ='TRALOIBL'
		SELECT * FROM TRALOIBL BL WHERE BL.MaTL = @ID
	IF @TABLE ='BINHLUAN'
			SELECT * FROM BINHLUAN BL WHERE BL.MaBL = @ID
	IF @TABLE ='KHUYENMAI'
		SELECT * FROM KHUYENMAI KM WHERE KM.MaKM = @ID
	IF @TABLE ='LOAISANPHAM'
		SELECT * FROM LOAISANPHAM LSP WHERE LSP.MaLoaiSP = @ID
	IF @TABLE ='BAOHANH'
			SELECT * FROM BAOHANH BH WHERE BH.MaBH = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYBINHLUANSP]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_LAYBINHLUANSP]
@MaSP VARCHAR(10)
AS
BEGIN
SET NOCOUNT  ON
	SELECT MaBL, DanhGia, NoiDung, TaiKhoan, NgayTao
	FROM BINHLUAN BL INNER JOIN NGUOIDUNG ND ON BL.MaKH = ND.MaND WHERE BL.MaSP = @MaSP AND TrangThai=1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYCHITIETDDH]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_LAYCHITIETDDH]
@ID int
AS
BEGIN
--IF EXISTS(SELECT *FROM tempdb.sys.tables WHERE name LIKE '#CTDDHTemp%') DROP TABLE #CTDDHTemp

SELECT MaDDH= DDH.MaDDH, MaSP= SP.MaSP, MaSeri = SP.MaSeri, TenSP= SPL.TenSP, DonGia = CT.DonGia 
from DONDATHANG DDH LEFT JOIN CHITIETDONDATHANG CT 
ON CT.MaDDH = DDH.MaDDH LEFT JOIN SANPHAM SP 
ON SP.MaSeri = CT.MaSeri LEFT JOIN SANPHAM_LOAI SPL ON SPL.MaSP = SP.MaSP 
WHERE DDH.MaDDH=@ID


END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYDSDDHTHEONGUOIDUNG]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LAYDSDDHTHEONGUOIDUNG]
@MaND NVARCHAR(50), 
@TrangThai int
AS
BEGIN
SELECT DDH.MaDDH, NgayDat, TrangThai, MaKH, MaNV, TinhTrang, DiaChiNhan, TenNguoiNhan, SoDT, Email,SUM(CT.DonGia) AS TongTien
				FROM DONDATHANG DDH  FULL JOIN CHITIETDONDATHANG CT 
				ON DDH.MaDDH = CT.MaDDH
				WHERE TrangThai= CAST(@TrangThai as int) AND (SELECT TaiKhoan from NGUOIDUNG WHERE MaND = DDH.MaKH) = @MaND
				GROUP BY 
				DDH.MaDDH, DDH.NgayDat, DDH.TrangThai, DDH.MaKH, DDH.MaNV, DDH.TinhTrang, DDH.TinhTrang, DDH.DiaChiNhan,DDH.TenNguoiNhan, DDH.SoDT,DDH.Email
			ORDER BY DDH.NgayDat ASC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYDSNGUOIDUNG]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LAYDSNGUOIDUNG]
@LOAIND VARCHAR(5),
@KEYWORD NVARCHAR(50)
AS
BEGIN
IF @KEYWORD = NULL
BEGIN
			SELECT * FROM NGUOIDUNG ND  WHERE ND.LoaiND = @LOAIND AND TrangThai =1
			ORDER BY ND.HoTen ASC 
END
ELSE
	BEGIN
		SELECT * FROM NGUOIDUNG ND WHERE ND.LoaiND = @LOAIND and TrangThai =1
				ORDER BY ND.HoTen ASC 
			SELECT * FROM NGUOIDUNG NV WHERE (NV.TaiKhoan like '%' + @KEYWORD +'%' or NV.HoTen like '%' + @KEYWORD +'%')	
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYDSPTHEOLOAI]    Script Date: 12/26/2019 2:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LAYDSPTHEOLOAI]
@LOAISP VARCHAR(5)
AS
BEGIN
IF NOT EXISTS (SELECT 1 FROM LOAISANPHAM WHERE MaLoaiSP = @LOAISP)
RETURN 1
ELSE 
BEGIN
	SELECT * FROM SANPHAM_LOAI SP  WHERE SP.MaLoaiSP = @LOAISP
	ORDER BY DonGia ASC
END

END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BINHLUAN', @level2type=N'COLUMN',@level2name=N'DanhGia'
GO
